
	
 	

body{
 		
            
		
           } 
#update
{


margin-left:200px;

}


#headsign{


padding-top:20px;

	}
#signupheading  {

	color:darken(#e5e5e5, 50%);
    	border-bottom:solid 2px #e5e5e5;
	margin-bottom:15px;
		}








#nvbar
	{	
	top:0;
	left:0;
	right:0;

	position:fixed;
	z-index:9999;
	background-color:#3b465e;
	width:100%;
	
	}
.jumbotron
		{	


		margin-left:200px;
		height:1000px;



		}



.main_label{
margin-top: 45px;
}
       .sidebar{
			
                background-color: #1C2331;
			position: fixed;
    		left: 0!important;
    		top: 0;
    		height: 100%!important;
    		width: 200px;
    		z-index: 99;
    		overflow-y: auto !important;
    		overflow-x: hidden !important;
		}

.homemenu a:link, a:visited {
        
           color: white;
    	padding: 14px 25px;
   	 text-align: center;
   	 text-decoration: none;
   	 display:block;
		}

.homemenu a:hover, a:active {
   			 background-color: #2BBBAD;
		  }

.head_line{
			padding-top:50px;
		}
#main_body{
			padding-left:450px;
			width:100%;
			
		}
#sign_div{
	padding-top:150px;
}
#signupbox   {

	        
	       margin-left:40px;
              
               width: 400px;
               height: 530px;
	      }
#contactform{
			
		margin-top:50px;		
		margin-left:500px;
		}
.flex-container {
	margin-top:30px;
	margin-left:120px;
    display: -webkit-flex;
    display: flex;
    width: 500px;
    height: 500px;
    background-color:#e0f2f1;

	
}
.flex-containersignup {
	margin-top:40px;
	margin-left:100px;
    
       width: 500px;
    height: 550px;
    background: #aab7b8;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
 

	
}


.flex-item {
	margin-top:50px;
	margin-left:50px;
    background-color: #C0C0C0 ;
    width: 400px;
    height: 400px;
   box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
    
}




.red{
    color:red;
    }
.form-area
{
    background-color: #ecf0f1;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	 box-shadow: 10px 10px 5px  #95a5a6  ;
	}
button{
	cursor: pointer;
        }

article{
            background-color: #E0E0E0;
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
    
   
    
      }
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment
                  {
                    padding: 5px;
                  }

  
/*user module search*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/*user module search end */


#distancbetweensearchandresults
          {   margin-bottom: 40px;}

#distancetop {margin-top: 30px;}

#addnewuserbutton
          { 
            padding-left:250px; 
             display:inline; 
          }

/*search results list or user list on user module*/

#searchbar
{

padding-left:300px;
}

#searchresult
{
  width:1000px;
padding-left:40px;
}
/*search results list or user list on user module*/

/*analytics page showing count*/

#analyticscount
             {
               width:550;
              height:400;
              /* background-color:white;*/
              
              }
#leftdiv {
           padding-left=100px;
          
 
         }

#countdiv {
           padding-left=10px;
          
 
         }



