/*
FileName:Main style for admin panel and its other attributes
*Date:19/09/2017
*Author:Jithin Zacharia  
*/
#main_li{
    pointer-events: none;
    cursor: default;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    /*left: 250px;
    width: 3;
    margin-left: -250px;
    */
    max-height: 612px;
    height:100%;
    overflow-y: auto;
    background:#21777d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 7px;
}

#wrapper.toggled #sidebar-wrapper {
    width: auto;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    top: 0;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 20px;
    /*padding-bottom: 10px;
    padding-top: 10px;*/
}

.sidebar-nav li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    //background: rgba(255,255,255,0.2);
    background: #5e777c;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 16px;
    line-height: 20px;
    background-image: linear-gradient(90deg,#2d6f66,#5c6d6b);
    box-shadow: 0 3px 0 0 #007967, 0 2px 8px 0 #18b9a3, 0 4px 10px 0 rgba(33,7,77,.5);
    /*box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b, 0 4px 10px 0 rgba(33,7,77,.5);*/
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    text-align: center;
    text-indent: 0px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-family: Exo;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    /*#wrapper {
        padding-left: 250px;
    }*/

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: auto;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
#menu_toggle{
    top:20px;
}
//Moved Internal CSS to Here
.center{
    margin: auto;
    width: 40%;
    padding: 10px;
  }
#dropdownli{
  cursor: pointer;
}
/*
Details:Custom style for admin panel
*Date:02/04/2018
*Author:Ramya  
*/
.sidebar-nav li a[aria-expanded=true] .fa-chevron-right {
   display: none;
}
.sidebar-nav li a[aria-expanded=false] .fa-chevron-down {
   display: none;
}
.sidebar-nav #submenu-1 li {
    list-style: none;
}
.head_title h2{
   text-align: center;
    color:white;
}
.caption #employee_messages {
    word-break: break-all;
}
#searchresult {
    width: 100% !important;
    padding-left: 0px !important;
}
div#searchresult .row {
    margin-right: 25px;
}
/* Header custom styles*/
.navbar-custom .navbar-brand {
    padding: 10px 0px;
    min-height: 65px;
    margin-left: -10px;
}
.navbar-brand>img {
    width: 150px;
    height: 55px;
}
.nav>li {
    margin-top: 10px;
}
/*.navbar-custom .navbar-nav > li > a {
    background: none;
    border:none !important;
}
.navbar-custom .navbar-nav > li:last-child > a {
    border-right: none !important;
}*/
#page-content-wrapper1 .main-content{
    padding: 15px;
}
#page-content-wrapper1 .sidenav{
    padding-left: 0;
}
.navbar {
    margin-bottom: 0;
    border: none;
}
.main-content .form-inline{
    padding-bottom: 1%;
}
ul#submenu-1{
    padding-left: 15px !important;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus, ul.dropdown-menu li a:hover, ul.dropdown-menu li a:focus {
    background: #5e777c;
    color: #fff;
    text-decoration: none;;
}
.navbar-custom li >a{
    color: #fff;
}
.dropdown-menu>li>a {
    padding: 5px 20px;
}
.dropdown-menu{
    padding: 0;
    border: none;
}
.dropdown-menu#asset-type{
    height:450px;
    overflow-y:auto;
}
.users-list #searchresult .buttons,.messages-list #searchresult .buttons{
    margin-top: 10%;
}
.thumbnail .caption{
    padding: 0;
}
.main-content .header-maker h2{
    //margin-left: 4%;
}
.margin-lt-4{
    margin-left: 4%;
}
.main-content .row{
    margin-right: 0px; 
    margin-left: 0px;
}
.main-content .nav-pills a{
    color: #337ab7;
}
.main-content .upload-form{
    margin-bottom: 2%;
}
.nav-pills.nav-stacked.well{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 0 5px;
}
#page-content-wrapper1 .main-content.pwdreset{
    padding: 3%;
}
#contactform .form-area {
    background-color: inherit;
    border: none;
    box-shadow: none;
    padding: 0;
    margin :0;
} 
#contactform {
    margin: 0;
}  
#parallax-world-of-ugg{
    font-family: 'Roboto', sans-serif !important;
}
.main-content .container{
    width: auto
}
.table-responsive .table .actions-col{
    width: 100px !important;
}
button, input, select, textarea {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
}
body{
    font-family: 'Roboto', sans-serif !important;
    background: #edefef;
}
@media (min-width: 768px){
.navbar {
    border-radius: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -10px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
}