/*
FileName:Custom style for admin panel and its other attributes
*Date:02/04/2018
*Author:Ramya  
*/
a[aria-expanded=true] .fa-chevron-right {
   display: none;
}
a[aria-expanded=false] .fa-chevron-down {
   display: none;
}