body{
    font-family: "Times New Roman", Times, serif !important;
}
.sidebar{
	background-color: #000;
	position: fixed;
    left: 0 !important;
    top: 0;
    //height: 100%!important;
    //width:20%!important;
    z-index: 99;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    max-height: 712px !important;
}

.head_line{
	padding-top:50px;
}

#main_body{
	padding-left:270px;
	width:100%;
	overflow: hidden;
}

#sign_div{
	padding-top:150px;
}
.flex-container {
	margin-top:50px;
	margin-left:120px;
    display: -webkit-flex;
    display: flex;
    width: 700px;
    height: 550px;
    background-color:#eeefed;
}

.flex-item {
	margin-top:50px;
	margin-left:50px;
    background-color: cornflowerblue;
    width: 500px;
    height: 400px;  
}

.red{
    color:red;
}

.form-area{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
}

button{
	cursor: pointer;
}

article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
                    padding: 5px;
                  }

  
/*user module search*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/*user module search end */


#distancbetweensearchandresults
          {   margin-bottom: 50px;}

/*search results list or user list on user module*/

#searchbar
{

padding-left:300px;
}

#searchresult
{
  width:1000px;
padding-left:40px;
}
/*search results list or user list on user module*/
#googleMap{
    top-padding:180px!important;
}