
#update{
margin-left:200px;
}


#headsign{
padding-top:20px;
}

#signupheading  {
	color:darken(#e5e5e5, 50%);
  border-bottom:solid 2px #e5e5e5;
	margin-bottom:15px;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index:50;
  border: none;
  outline: none;
  
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}


#myBtn2 {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index:50;
  border: none;
  outline: none;
  
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#nvbar{	
	top:0;
	left:0;
	right:0;

	position:fixed;
	z-index:9999;
	background-color:#3b465e;
	width:100%;
	}

.jumbotron{	
		margin-left:200px;
		height:1000px;
}

.infowin{
  padding-left: 270px;
  background-color:#AFC8B6  ;
}

.main_label{
  margin-top: 45px;
}

.sidebar{		
        background-color: #00969e;
			  position: fixed;
    		left: 0!important;
    		top: 0;
    		height: 100%!important;
    		width: 250px;
    		z-index: 99;
    		overflow-y: auto !important;
    		overflow-x: hidden !important;
}

.homemenu a:link, a:visited {        
      //color:#ffffff;
    	padding: 14px 25px;
   	  text-decoration: none;
   	  display:block;
}
.homemenu a{
  color: #fff;
}
.homemenu a:hover, a:active {
  //background-color: #2BBBAD;
  background: #5e777c;
  text-decoration: none;
  color: #fff;
}
.login-content .form-control{
  margin-bottom: 20px;
}
.login-content a:hover{
  text-decoration: none;
  cursor: pointer;
}
.head_line{
			padding-top:50px;
}

#main_body{
			padding-left:450px;
			width:100%;			
		}

#sign_div{
	padding-top:150px;
}
#signupbox{
	       margin-left:40px;   
         width: 400px;
         height: 530px;
	      }

#contactform{
		margin-top:50px;		
		margin-left:500px;
		}

.flex-container {
	margin-top:50px;
	margin-left:30px;
    display: -webkit-flex;
    display: flex;
    width: 500px;
    height: 500px;
    background-color:rgba(167, 167, 167, 0.14);
    cursor: pointer;
	
}
.flex-containersignup {
	margin-top:30px;
	margin-left:100px;    
    width: 500px;
    height: 600px;
    background: #687979;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
}

.flex-item {
	margin-top:40px;
	margin-left:28px;
    background-color: #C0C0C0 ;
    width: 450px;
    height: 422px;
   box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
}

.red{
    color:red;
}

.form-area{
    background-color: #ecf0f1;
	  padding: 10px 40px 60px;
	  margin: 10px 0px 60px;
	  box-shadow: 10px 10px 5px  #95a5a6  ;
}

button{
	cursor: pointer;
}

article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;    
}

.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
   padding: 5px;
}

  
/*user module search*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
/*user module search end */


#distancbetweensearchandresults
          {   margin-bottom: 40px;}

#distancetop {margin-top: 30px;}

#addnewuserbutton
          { 
            padding-left:250px; 
             display:inline; 
          }

/*search results list or user list on user module*/

#searchbar{
padding-left:300px;
}

#searchresult{
  width:1000px;
  padding-left:40px;
}
/*search results list or user list on user module*/

/*analytics page showing count*/

#analyticscount{
    width:550;
    height:400;          
}

#leftdiv {
    padding-left:100px; 
         }

#countdiv {
           padding-left:10px;
}

/*navbar*/

.navbar-custom {
      background-image: linear-gradient(90deg,#515d5b,#03a0a0); 
      border-color: #35879a;
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb3c7', endColorstr='#ff3d9db3', GradientType=0);
}

.navbar-custom .navbar-brand {
  color: #1f516e;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #143446;
  background-color: transparent;
}

.navbar-custom .navbar-text {
  color: #1f516e;
}

/*.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #35879a;
  background-image: linear-gradient(90deg,#03a0a0,#03a0a0);
}

.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #35879a;
}*/

/*.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #86ccdb;
  background-color: transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #86ccdb;
  background-color: #35879a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#35879a), to(#43a8bf));
  background-image: -webkit-linear-gradient(top, #35879a, 0%, #43a8bf, 100%);
  background-image: -moz-linear-gradient(top, #35879a 0%, #43a8bf 100%);
  background-image: linear-gradient(to bottom, #35879a 0%, #43a8bf 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35879a', endColorstr='#ff43a8bf', GradientType=0);
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}*/

/*.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #348698;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #86ccdb;
  border-bottom-color: #86ccdb;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #35879a;
  color: #86ccdb;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #86ccdb;
  border-bottom-color: #86ccdb;
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #1f516e;
  border-bottom-color: #1f516e;
}*/

@media (max-width: 767) {
  /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #1f516e;
  }

  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #86ccdb;
    background-color: transparent;
  }

  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #86ccdb;
    background-color: #35879a;
  }

  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }*/


.navbar-custom .navbar-link {
  color: #1f516e;
}

.navbar-custom .navbar-link:hover {
  color: #86ccdb;
}

/*profile view style*/
.pic{
     margin-top:50px; 
     width:120px;
     margin-left:50px;
     margin-bottom:-60px;
}

.panel{
    background-image:url("http://autoimagesize.com/wp-content/uploads/2014/01/rainbow-aurora-background-wallpaper-colour-images-rainbow-background.jpg"); 
}

.name{
    position:absolute;
    padding-left:200px;
    font-size:30px;
}

.dropdown{
    position:absolute;
}

.change{
 position:relative; 
 bottom:20px;
 padding:1px;
 color:white;
 text-decoration:none;
}


.change:hover{
 text-decoration:none;
 background-color:black;
 color:white;
}

#map{
height: 300px;
 width:955px;
      margin-left: 25px;
}
